[submodule ".live-packs/evil/lib/emacs-powerline"]
        path = .live-packs/evil/lib/emacs-powerline
        url = git://github.com/jonathanchu/emacs-powerline.git
[submodule ".live-packs/evil/lib/evil"]
        path = .live-packs/evil/lib/evil
        url = git://github.com/emacsmirror/evil.git
[submodule ".live-packs/evil/lib/evil-leader"]
        path = .live-packs/evil/lib/evil-leader
        url = git://github.com/cofi/evil-leader.git
[submodule ".live-packs/racket/lib/ac-geiser"]
        path = .live-packs/racket/lib/ac-geiser
        url = git://github.com/xiaohanyu/ac-geiser.git
[submodule ".live-packs/racket/lib/geiser"]
        path = .live-packs/racket/lib/geiser
        url = git://github.com/jaor/geiser.git
[submodule ".live-packs/clojure/lib/auto-complete"]
        path = .live-packs/clojure/lib/auto-complete
        url = git://github.com/auto-complete/auto-complete.git
[submodule ".live-packs/clojure/lib/cider"]
        path = .live-packs/clojure/lib/cider
        url = git://github.com/clojure-emacs/cider.git
[submodule ".live-packs/clojure/lib/cljsbuild-mode"]
        path = .live-packs/clojure/lib/cljsbuild-mode
        url = https://github.com/kototama/cljsbuild-mode
[submodule ".live-packs/clojure/lib/clojure-mode"]
        path = .live-packs/clojure/lib/clojure-mode
        url = git://github.com/clojure-emacs/clojure-mode.git
[submodule ".live-packs/clojure/lib/emacs-web-server"]
        path = .live-packs/clojure/lib/emacs-web-server
        url = git://github.com/eschulte/emacs-web-server.git
[submodule ".live-packs/clojure/lib/eval-sexp-fu"]
        path = .live-packs/clojure/lib/eval-sexp-fu
        url = git://github.com/hchbaw/eval-sexp-fu.el.git
[submodule ".live-packs/clojure/lib/fuzzy-el"]
        path = .live-packs/clojure/lib/fuzzy-el
        url = git://github.com/auto-complete/fuzzy-el.git
[submodule ".live-packs/clojure/lib/popup-el"]
        path = .live-packs/clojure/lib/popup-el
        url = git://github.com/auto-complete/popup-el.git
[submodule ".emacs.d"]
        path = .emacs.d
        url = https://github.com/overtone/emacs-live
